.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-container nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.header-container nav ul li {
  background-color: aqua;
  padding: 10px 30px;
}

.header-container nav ul li a {
  text-decoration: none;
}